@use "_variables" as *;

/* // BASE SECTION STYLES // */


.section-2 {
    background-color: $burgundy;
    height: $height;
    border-top-left-radius: $section-border-radius;
    border-top-right-radius: $section-border-radius;
    padding: 1rem 1rem;
}


.section-2 h2{
    text-align: center;
    color: #eee;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.section-2 p {
    text-align: center;
    color: #eee;
    // font-weight: 500;
}


/* // BASE CONTENT STYLES //
// content displays */
.content-container1,
.content-container2 
.content-container3, 
.content-container4 {
    display: none;
}

.content-container1 {
    display: block; /* Default container to show */
}


.code-title {
    background-color: #2E1B2A;
    border-radius: 10px;
    font-family: "Geist Mono";
    max-width: 300px;
    margin: 0 auto; 
    padding: 1rem; 
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.code-title p{
    text-align: left;
    
    color: #C3BEC2;
}

.copy-icon {
    max-width: 2rem;
    background-color: #251622;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-radius: 5px;
    padding: 0.25rem;
}

.component {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80rem;
    gap: 2rem;
}


.code-1 {
    height: auto; 
}


.code-img {
    height: auto; 
    object-fit: contain; 
    max-width: 100%;
}

.content-1 {
    height: auto;
}

.content-img {
    height: auto; 
    object-fit: contain; 
    max-width: 100%;
}

/* // MENU STYLES // */
.code-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 100%;
}


.code-menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #2E1B2A;
    padding: 1rem 1rem;
    border-radius: 30px;
    gap: 2rem;
    overflow: hidden;
}

.code-menu li {
    list-style: none;
    padding: 0 1rem;
    color: #eee;
    font-family: "Geist";
    border-radius: 20px;
    padding: 0.5rem 1rem;
    
}

.active-menu {
    box-shadow: 0 1px 1px rgba(254, 254, 254, 0.579);
    background-color: #584955;
}

.code-menu li:hover {
    cursor: pointer;
    color: #eee;
}


@media(min-width: 64em){

    .component{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .section-2 h2{
        padding-left: 8rem ;
        padding-right: 8rem ;
        padding-bottom: 3rem;
    }

    .code-title{
        margin-top: 3rem;
        padding-left: 1rem;
        padding-right: 40rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}


