@use "_variables" as *;
@use "_base-styles" as *;


section.section-3 {
    background-color: $yellow;
    height: $height;
    width: $width;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    padding-bottom: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    margin: 0 auto -2rem ;
    z-index: 3;

}

.section-3-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    max-width: 48rem;
    margin: 2rem auto;
}

.section-3-text-wrapper h2, .section-3-text-wrapper p {
    max-width: 32rem;
    text-align: center;
    margin: 0 auto;
}

.section-3-article-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;

}



.section-3 article {
    background-color: #ffeecc;
    padding: 1.5rem;
    border-radius: $section-border-radius;

}

.section-3 article p {
    margin-top: 1.5rem;
}

@media(min-width: 64em) {

    .section-3-article-wrapper {
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        // align-items: center;
    
    }

    .section-3 article {
        width: clamp(17.3rem, 25vw, 25rem);
        height: 22rem;
    }


}

