@use "_variables" as *;

// BASE SECTION STYLES //


.section-2 {
    background-color: $burgundy;
    height: $height;
    border-top-left-radius: $section-border-radius;
    border-top-right-radius: $section-border-radius;
    padding: 1rem 1rem;
}


.section-2 h2{
    text-align: center;
    color: #eee;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.section-2 p {
    text-align: center;
    color: #eee;
    // font-weight: 500;
}


// BASE CONTENT STYLES //

// .content-container1{
//     padding: 1rem 1rem;
// }


.code-title {
    background-color: #2E1B2A;
    border-radius: 10px;
    font-family: "Geist Mono";
    max-width: 300px;
    margin: 0 auto; 
    padding: 1rem; 
    margin-top: 1rem;
}
.code-title p{
    text-align: left;
    padding-left: 2rem;
    color: #C3BEC2;
}

.component {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80rem;

}


.code-1 {
    height: auto; // Maintain aspect ratio
}


.code-img {
    height: auto; 
    object-fit: contain; 
    max-width: 100%;
}

.content-1 {
    height: auto;
}

.content-img {
    height: auto; 
    object-fit: contain; 
    max-width: 100%;
}

// MENU STYLES //
.code-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    width: 100%;
}


.code-menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #2E1B2A;
    padding: 1rem 1rem;
    border-radius: 30px;
    gap: 2rem;
    overflow: hidden;
}

.code-menu li {
    list-style: none;
    padding: 0 1rem;
    color: #eee;
    font-family: "Geist";
    border-radius: 20px;
    padding: 0.5rem 1rem;
    
}

.active-menu {
    box-shadow: 0 1px 1px rgba(254, 254, 254, 0.579);
    background-color: #584955;
}

.code-menu li a{
    text-decoration: none;
}
.code-menu li a:visited {
    color: inherit; 
}

@media(min-width: 64em){
    .component{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .section-2 h2{
        padding-left: 8rem ;
        padding-right: 8rem ;
    }

}