// section colors
$burgundy: #3A2234;
$yellow: #ffc848;
$green: #3cdd8c;
$off_white: #f3f3f3;
$blue: #7474f5;
$pink: #d880d0;
$pure_black: #000000;

//button/link colors

$pure_white: #FFFFFF;
$pure_black: $pure_black;
$off_white: $off_white;

//div/article/block/dropdown colors

$blue-white: #E8E8FA;
$pink-white: #F7CEF4;
$green-white: #DBF6E7;
$yellow-white: #FCEFD0;

//fonts

$main-font: "Geist", sans-serif;
$sub-font-1: "Geist Mono", monospace;

//section heights
$height: auto;
$width: 100%;

//section border radius
$section-border-radius: 1.5rem;
 