// section colors

$burgundy: #372333;
$yellow: #f6c654;
$green: #71da93;
$off_white: #f3f3f3;
$blue: #7575e8;
$pink: #db9cd5;
$pure_black: #000000;

//button/link colors

$pure_white: #FFFFFF;
$pure_black: $pure_black;
$off_white: $off_white;

//div/article/block/dropdown colors

$blue-white: #E8E8FA;
$pink-white: #F7CEF4;
$green-white: #DBF6E7;
$yellow-white: #FCEFD0;

//fonts

$main-font: "Geist", sans-serif;;

