*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Geist", sans-serif;
}

h2 {
  font-family: "Geist", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: 4rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 3.75rem;
  }
}
h3 {
  font-family: "Geist", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: -0.015rem;
}

p.m-body {
  font-family: "Geist", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.0125rem;
}

p.l-body {
  font-family: "Geist", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.0125rem;
}

p.mono-body {
  font-family: "Geist Mono", monospace;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 180%; /* 1.8rem */
}

.title_pre_header {
  font-family: "Geist", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.015rem;
}

.flex_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex_start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.625rem;
}

nav {
  width: 25rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1.7rem 1rem;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.4941176471);
  border: rgba(255, 255, 255, 0.4588235294) 1px solid;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #FFFFFF;
}

.nav_button_link,
.nav_button_link:visited {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2.5rem;
  font-family: "Geist", sans-serif;
  text-decoration: none;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 2rem;
}

/* General section styling */
.section-1 {
  font-family: "Geist", sans-serif;
  height: auto;
  width: 100%;
  border-radius: 1.5rem;
  padding-top: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.section-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Title styling */
.section-title {
  font-family: "Geist", sans-serif;
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  color: #000000;
  text-align: center;
  margin-top: 7rem;
  max-width: 48rem;
}

/* Description styling */
.section-description {
  font-family: "Geist", sans-serif;
  color: #000000;
  text-align: center;
  margin-top: 1.3rem;
  line-height: 28px;
  max-width: 48rem;
  font-size: 1.25rem;
  padding: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* List styling */
.links-list {
  list-style-type: none;
  width: 100%;
}

.links-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.2rem;
}

.link-item-1 .link {
  display: flex;
  text-align: center;
  padding: 1.5rem 8rem;
  background-color: black;
  color: white;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 62.4375rem;
  transition: 0.3s ease, color 0.3s ease;
}

.link-item-1 .link:hover {
  background-color: #282626;
  color: #ffffff;
}

.link-item-2 .link {
  display: flex;
  padding: 1.2rem 7rem;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 62.4375rem;
  transition: 0.3s ease, color 0.3s ease;
}

.link-item-2 .link:hover {
  background-color: #f3f0f0;
  color: #000000;
}

.link {
  align-items: center;
  gap: 0.2rem;
}

@media (min-width: 64em) {
  .section-title {
    font-size: 72px;
    line-height: 5.5rem;
    margin-top: 7rem;
    max-width: 48rem;
  }
  .links {
    display: block;
  }
  .section-1 {
    height: auto;
    max-width: 100%;
  }
  .links-list {
    flex-direction: row;
    justify-content: center;
  }
}
/* // BASE SECTION STYLES // */
.section-2 {
  background-color: #3A2234;
  height: auto;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1rem 1rem;
  margin: 0 auto -2rem;
  z-index: 4;
}

.section-2 h2 {
  text-align: center;
  color: #eee;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section-2 p {
  text-align: center;
  color: #eee;
}

/* // BASE CONTENT STYLES //
// content displays */
.content-container2,
.content-container3,
.content-container4 {
  display: none;
}

.content-container1 {
  display: block; /* Default container to show */
}

.code-title {
  background-color: #2E1B2A;
  border-radius: 10px;
  font-family: "Geist Mono";
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.code-title p {
  text-align: left;
  color: #C3BEC2;
}

.copy-icon {
  max-width: 2rem;
  background-color: #251622;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-radius: 5px;
  padding: 0.25rem;
}

.component {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80rem;
  gap: 2rem;
}

.code-1 {
  height: auto;
}

.code-img {
  height: auto;
  object-fit: contain;
  max-width: 100%;
}

.content-1 {
  height: auto;
}

.content-img {
  height: auto;
  object-fit: contain;
  max-width: 100%;
}

/* // MENU STYLES // */
.code-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 100%;
  padding-bottom: 3rem;
}

.code-menu ul {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: #2E1B2A;
  padding: 1rem 1rem;
  border-radius: 30px;
  gap: 2rem;
  overflow: hidden;
}

.code-menu li {
  list-style: none;
  padding: 0 1rem;
  color: #eee;
  font-family: "Geist";
  border-radius: 20px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}

.code-menu li.active-menu {
  background-color: #584955; /* Highlight color */
  box-shadow: 0 1px 1px rgba(254, 254, 254, 0.579);
  color: #fff; /* Adjust text color if needed */
}

.code-menu li:hover {
  cursor: pointer;
  color: #eee;
}

@media (min-width: 64em) {
  .component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-2 h2 {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-bottom: 3rem;
  }
  .code-title {
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 40rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30rem;
  }
  .copy-icon {
    height: 2rem;
    background-color: #251622;
  }
}
section.section-3 {
  background-color: #ffc848;
  height: auto;
  width: 100%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  margin: 0 auto -2rem;
  z-index: 3;
}

.section-3-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  max-width: 48rem;
  margin: 2rem auto;
}

.section-3-text-wrapper h2, .section-3-text-wrapper p {
  max-width: 32rem;
  text-align: center;
  margin: 0 auto;
}

.section-3-article-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  max-width: 80rem;
  margin: 0 auto;
}

.section-3 article {
  background-color: #ffeecc;
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.section-3 article p {
  margin-top: 1.5rem;
}

@media (min-width: 64em) {
  .section-3-article-wrapper {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }
  .section-3 article {
    width: clamp(17.3rem, 25vw, 25rem);
    height: 22rem;
  }
}
section.section-4 {
  background-color: #3cdd8c;
  height: auto;
  width: 100%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  padding-bottom: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  margin: 0 auto -2rem;
  z-index: 4;
}

.section-4-article-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-4 article {
  background-color: #d5f7e7;
  border-radius: 1.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  font-family: "Geist", sans-serif;
}

.section-4 article h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.section-4 article p {
  margin-bottom: 3rem;
  font-size: 1.25rem;
}

@media (min-width: 64em) {
  .section-4 article {
    width: 50rem;
    margin: 0 auto;
    padding: 3rem;
  }
  .section-4 article h3 {
    font-size: 2rem;
  }
}
.section-4-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  max-width: 48rem;
  margin: 2rem auto;
}

.section-4-text-wrapper h2, .section-4-text-wrapper p {
  max-width: 32rem;
  text-align: center;
  margin: 0 auto;
}

.section-4-text-wrapper p.l-body {
  font-size: 1.5rem;
  height: 4rem;
}

.section-4-text-wrapper a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3019607843);
}

.section-4-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
}

.section-4-button-wrapper a {
  height: 2.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.3764705882);
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  text-decoration: none;
  color: black;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(255, 255, 255, 0.5019607843) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 3px 0px;
}

/* card scroll animation */
.section-4 article {
  position: sticky;
  top: 0;
}

.section-5 {
  background-color: #f3f3f3;
  height: auto;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1rem 1rem;
  margin: 0 auto -2rem;
  z-index: 4;
}

.section-5 p {
  text-align: center;
}

.section-5 h3 {
  text-align: center;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section-5 h2 {
  text-align: center;
  padding-bottom: 1rem;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(2, 8rem);
  gap: 2rem;
  justify-content: center;
  align-content: center;
  padding-bottom: 4rem;
}

.icon-item {
  cursor: pointer;
}

.icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 0.3rem;
}

#link {
  color: #333;
  font-size: 1rem;
  border-bottom: 1px solid #000000;
}

@media (min-width: 64em) {
  .icon-container {
    display: flex;
    gap: 3rem;
  }
  .icon-item {
    width: 14rem;
  }
  .section-5 h3 {
    text-align: center;
    padding-bottom: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
.flex_container_sec6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
}

.flex_start_sec6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section_6_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
  height: auto;
  background-color: #7474f5;
  color: #000000;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}

.title_pre_header {
  margin-bottom: 1rem;
  margin-top: 3rem;
}

#section_6_title {
  text-align: left;
}

.title_post_header {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.quest_label {
  cursor: pointer;
}

.quest_container {
  width: 95%;
  height: auto;
  background-color: #FFFFFF;
  opacity: 0.8;
  padding: 1.7rem;
  margin: 0.5rem;
  border-radius: 1.5rem;
  font-family: "Geist", sans-serif;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.7019607843);
}

p.answer_body {
  max-height: none;
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .title_pre_header {
    margin-top: 0rem;
  }
  .title_post_header {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  .flex_container_sec6 {
    padding-left: 20rem;
  }
  .section_6_container {
    padding: 10rem;
    padding-top: 7rem;
    flex-direction: row;
  }
}
.Sec-7-container {
  font-family: "Geist", sans-serif;
  background-color: #e295db;
  height: auto;
  width: 100%;
  border-radius: 1.5rem;
  margin-top: -2rem;
  margin-bottom: -5rem;
}

.section-7 {
  display: flex;
  flex-direction: column;
}

.section-7-text {
  margin-top: 3.5rem;
  padding-left: 2rem;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.sec7-p {
  padding-left: 2rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.section-7-heading {
  padding-left: 2rem;
}

.testimonial-cards {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  gap: 32px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.testimonial-card-1 {
  background-color: #F7CEF4;
  border-radius: 1.5rem;
}

.testimonial-card-2 {
  background-color: #F7CEF4;
  border-radius: 1.5rem;
}

.testimonial-card-3 {
  background-color: #F7CEF4;
  border-radius: 1.5rem;
}

.testimonial-card-4 {
  background-color: #F7CEF4;
  border-radius: 1.5rem;
}

.t-body {
  font-size: 1.25rem;
  padding: 0.6rem;
}

.w-full {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.t-list {
  padding: 2rem;
}

.test-img {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.arrows {
  display: none;
}

#card-4 {
  margin-bottom: 3rem;
}

@media (min-width: 64em) {
  .Sec-7-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem;
  }
  .section-7 {
    flex: 1;
    padding-right: 2rem;
  }
  .testimonial-cards {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .testimonial-card-1,
  .testimonial-card-2,
  .testimonial-card-3,
  .testimonial-card-4 {
    flex: 0 0 50%;
    margin-right: 1rem;
    padding: 1.2rem;
  }
  .w-full {
    display: flex;
    padding: 1rem;
    gap: 8px;
    align-items: center;
    margin-top: 3rem;
  }
  .flex {
    padding-left: 3rem;
  }
  .arrows {
    display: block;
    margin-top: 40rem;
  }
  .testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .testimonial-img {
    width: 2.2rem;
  }
  .test-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .m-body {
    margin-left: 10px;
    font-weight: bold;
  }
  .flex {
    font-size: smaller;
    margin-top: 5px;
  }
  #card-4 {
    margin-bottom: 0rem;
  }
}
.footer_title {
  right: 0.1rem;
  mix-blend-mode: difference;
}

section.footer {
  background-color: #000000;
  height: auto;
  width: 100%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  padding-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  margin: 0 auto;
  z-index: 8;
  position: relative;
}

.footer-text-wrapper {
  padding: 0 1rem 4rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

.footer p {
  color: rgba(255, 255, 255, 0.8);
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}

.footer-video-container {
  height: 12rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.footer-video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10%);
  object-fit: cover;
  z-index: 9;
}

.svg-container {
  position: relative;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 10;
}

@media (min-width: 64em) {
  .footer ul {
    flex-direction: row;
  }
  .footer-text-wrapper {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4rem 4rem 4rem;
  }
  .footer-video-container {
    height: 32rem;
  }
}
.footer li {
  font-family: "Geist Mono", monospace;
  color: #f3f3f3;
  list-style-type: none;
  list-style-image: none;
}

.footer span {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  height: 1.85rem;
  line-height: 1.8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5019607843);
}

.footer a {
  text-decoration-line: none;
}

.footer svg {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
